.button-login {
  background-color: #1677ff;
  color: white;
  border: none;
  padding: 10px 24px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button-login:hover {
  background-color: #0958d9;
}
